<footer class="footer">

	<a href="{{ .Site.BaseURL }}"><b>&copy; {{ now.Year }} Cosmin Ilie</b></a>
	<a target="_blank" href="{{ .Site.BaseURL }}/index.xml">
		<i class="fp-rss"></i>
	</a>

	<a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">
		<i class="fp-cc"></i>
		<i class="fp-cc-by"></i>
		<i class="fp-cc-sa"></i>
	</a>
	<a target="_blank" href="https://pinboard.in/u:Iliec">
		<i class="fp-pinboard"></i></a>
	<a target="_blank" href="https://github.com/cosminilie">
		<i class="fp-github"></i>
	</a>
	<a target="_blank" href="https://twitter.com/Cosmin_Ilie">
		<i class="fp-twitter"></i></a>


</footer>